body {
  background-color: #ccc;
  color: #333;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
nav li{
  list-style-type:none
}
/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 2rem 0;
  padding: 1.5rem 1.5rem 2rem;
  background-color: #ddd;

}

.boxMx{
  background: var(--cp-color-14);
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  padding: 1.5rem 1.5rem 2rem;
}
.blue{
  background-color:#176e9e;
  color:aliceblue;
  margin: 2rem 0;
}
.red{
  background-color: #833434;
  color:aliceblue;
  margin: 2rem 0;
}
.counter {
  width: 100px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  justify-items: stretch;
}
.counter item{
  width:100%;
  padding: 1.5rem 1.5rem 2rem;
  margin: 2rem;
}
/* Left and right column */


